<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Define the package sources, nuget.org, zeroc.com, and icerpc. -->
  <!-- `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroc.com" value="https://download.zeroc.com/nexus/repository/nuget-3.9-nightly/" />
    <add key="icerpc" value="https://download.zeroc.com/nexus/repository/nuget-nightly/" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- ZeroC.* packages will be restored from zeroc.com, IceRpc* from icerpc, everything else from nuget.org. -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="zeroc.com">
      <package pattern="ZeroC.*" />
    </packageSource>
    <packageSource key="icerpc">
      <package pattern="IceRpc.*" />
      <package pattern="IceRpc" />
      <package pattern="ZeroC.Slice" />
    </packageSource>
  </packageSourceMapping>
</configuration>
