name: 'Check spelling'

on:
  push:
    branches: ["0.5.x"]
  pull_request:
    branches: ["0.5.x"]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v2
        with:
          files: |
            **/*.{cs,md,json,csproj,ice,slice}
